.Analysis-Container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}

.Analysis-Container .Analysis-Selector {
    width: 95%;
    max-width: 200px;
}

.Analysis-Container .Analysis-Selector div {
    width: 100%;
}

.Analysis-Container .Analysis-Year-Graph {
    width: 100%;
}
