.Analysis-By-Tag-Month-Container {
    margin-top: 30px;
    padding-bottom: 30px;
}

.Analysis-By-Tag-Month-Date-Picker {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.Analysis-By-Tag-Month-Values {
    text-align: center;
}

.Analysis-By-Tag-Month-Graph {
    margin-bottom: 15px;
}

.Analysis-By-Tag-Month-Graph canvas {
    min-width: 350px;
    max-width: 350px;
}

.Analysis-By-Tag-Month-Data {
    margin-bottom: 20px;
}

.Analysis-By-Tag-Month-Data .Analysis-By-Tag-Month-Data-Item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 5px 10px;
}

.Analysis-By-Tag-Month-Data .Analysis-By-Tag-Month-Data-Item:last-child {
    border-bottom: none;
}

.Analysis-By-Tag-Month-Data .Analysis-By-Tag-Month-Data-Item.Item-Credit {
    background-color: #c9ffc9;
}

.Analysis-By-Tag-Month-Data .Analysis-By-Tag-Month-Data-Item.Item-Debit {
    background-color: #ffc7c7;
}

.Analysis-By-Tag-Month-Data .Analysis-By-Tag-Month-Data-Item span {
    display: block;
    text-transform: capitalize;
}

.Analysis-By-Tag-Month-Container .Analysis-By-Tag-Month-Nav-Buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Analysis-By-Tag-Month-Container .Analysis-By-Tag-Month-Nav-Buttons button {
    width: 48%;
}
