.Navigation-Container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.Navigation-Container .Navigation-Select-Per-Page {
	display: block;
	width: 40%;
	margin: 10px auto 20px;
}

.Navigation-Container .Navigation-Buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Navigation-Container .Navigation-Buttons button {
    width: 48%;
}
