.Analysis-By-Year-Container {
    margin-top: 30px;
    padding-bottom: 30px;
}

.Analysis-By-Year-Date-Picker {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.Analysis-By-Year-Values {
    text-align: center;
}

.Analysis-By-Year-Donut-Graph {
    max-width: 400px;
    margin: 30px auto;
}

.Analysis-By-Year-Donut-Graph canvas {
    margin: 0 auto;
}

.Analysis-By-Year-Container .Analysis-By-Year-Nav-Buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Analysis-By-Year-Container .Analysis-By-Year-Nav-Buttons button {
    width: 48%;
}
